.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.Home {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Link {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
