.Home {
  margin-top: 90px;
  display: flex;
  width: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Link {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
