.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: 100%;
}

.label {
  color: #fff;
  text-shadow: #54c9ee 1px 0 15px;
  margin: 0 0 10px;
}

.text {
  border: 1px solid #54c9ee;
  padding: 10px 0;
  box-shadow: #54c9ee 1px 0 15px;
}

.textarea {
  height: 150px;
}
