.Error {
  color: rgb(26, 238, 167);
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
  background: rgb(30, 53, 53);
  border-radius: 5px;
  margin-bottom: 0;
}
