.Branch {
  margin-top: 20px;
  width: 100%;
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li {
  margin: 10px 0;
  background-color: #0b111d;
  color: #54c9ee;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.li_selected {
  margin: 10px 0;
  background-color: #54c9ee;
  color: #fff;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
